 /* Style the navigation menu */
 nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
th, td {
  padding: 5px;
  text-align: center;
}
th {
  text-align: left;
}

body {
    background-color: green;
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
}

.top{
  color: black;
  padding: 0px 50px; 

}

.ranking{
  background-color: #f44336;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ranking{
  background-color: red;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: green;
  padding: 0.5px;
  text-align: center;
  font-size: 20px;
  color: white;
}

footer {
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  padding: 10px;
  text-align: center;
  color: white;
  float: left;
  font-size: 16px;
  text-decoration: none;
}


/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  .navbar {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: green;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 14px 4px rgba(0,0,0,0.4);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}
