#main {
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.52);
  margin-top: 5%;
  background-color: #fafafa;
  padding: 0 0 2% 0;
  border-radius: 1%;
}

#nav{
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
}

#nav-text{
    margin-top: 0%;
}


